/* Основные настройки */
html, body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(0, 29, 29);
    color: #ececec;
    scroll-behavior: smooth;
    background-size: cover;
}

/* Шапка сайта */
.site-header {
    text-align: left;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 5;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
                0px 3px 4px rgba(0, 0, 0, 0.2), 
                0px 5px 8px rgba(0, 0, 0, 0.3), 
                0px 9px 16px rgba(0, 0, 0, 0.4);
    padding: 10px 20px; /* Отступы для удобства */
    align-items: center;
    justify-content: space-around;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Разрешаем перенос строк */
    margin: 0;
    padding: 0;
    text-align: center; /* Выравниваем текст по центру */
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    padding: 5px 10px; /* Внутренние отступы для удобства */
    text-align: center;
    word-wrap: break-word; /* Разрешаем разрыв текста, если он слишком длинный */
}

.navbar a:hover {
    color: #00ffb3;
    text-shadow: 0 0 15px #ccff00, 0 0 25px #00ffb3;
    transform: scale(1.05);
}

/* Мигающий текст */
  .glowing {
    display: flex;
    margin-right: 10%;
    align-items: center;
  }
  .glowing-text{
    color: #ffffff;
    text-shadow: 0 0 15px #ffffff;
    font-family: 'Rubik Vinyl', bold;
    font-weight: bold;
    text-decoration: none;

    animation: glowing 6s linear infinite;
  }
  .glowing-text.broken {
    color: #444; /* Выключенный текст */
    text-shadow: none;
    animation: brok 0.1s linear; /* Эффект искр */
  }
  .glowing img{
    cursor: pointer;
    margin-top:0.45vw;
    margin-right: 5px;
    transition: transform 0.3s ease;
  }
.glowing img.clicked {
  transform: scale(1.2);
  transition: transform 0.1s ease;
}
  .faulty-letter-l {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }

  .faulty-letter-e {
    opacity: 0.5;
    animation: faulty-flicker 1.5s linear infinite;
  }

  .faulty-letter-a {
    opacity: 0.5;
    animation: faulty-flicker 2.5s linear infinite;
  }

  @keyframes glowing{
    0%{
      opacity: 0;
      color: #ffffff;
      text-shadow: 0 0 15px #ffffff;
      filter: blur(0.5px);
    }
    2% {
      opacity: 0.5;
    }
    4% {
      opacity: 1;
      filter: blur(2px);
    }
    6%{
      opacity: 0;
      filter: blur(0.5px);
    }
    20%{
      opacity: 1;
      color: #dbdbdb;
      text-shadow: 0 0 5px #ffffff;
    }
    50%{
      opacity: 1;
      color: #ffffff;
      text-shadow: 0 0 15px #ffffff;
    }
    90%{
      opacity: 1;
    }
    92%{
      opacity: 0;
      filter: blur(0.5px);
    }
    93%{
      opacity: 1;
      filter: blur(2px);
    }
    98%{
      opacity: 1;
      filter: blur(0.5px);
    }
    100%{
      opacity: 0;
    }
  }
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
    87% {
      opacity: 1;
    }
  }
/* Анимация потухания */
@keyframes brok {
  0%, 100% {
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff;
  }
  5% {
    text-shadow: 
      0 0 30px #fff;
  }
}
/* Блоки сайта */
.block {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(-50px);
    position: relative;
    height: 75vh;
    width: 70%;
    margin: 50px auto;
    margin-top: 30%;
    padding: 20px;
    background: linear-gradient(329deg, rgba(100,0,30,0.5) 30%, rgba(100,0,30,0.1) 100%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0, 0 , 0, 0.1),
    0px 3px 4px rgba(0, 0 , 0, 0.2), 
    0px 5px 8px rgba(0, 0 , 0, 0.3), 
    0px 9px 16px rgba(0, 0 , 0, 0.4);
    transition: box-shadow 0.5s ease-out, scale 0.5s ease-out, opacity 0.8s, transform 0.8s;
}
.block:hover {
    box-shadow: 0px 1px 2px rgba(0, 0 , 0, 0.1),
    0px 6px 9px rgba(0, 0 , 0, 0.2), 
    0px 10px 13px rgba(0, 0 , 0, 0.3), 
    0px 14px 21px rgba(0, 0 , 0, 0.4);
    scale: 105%;
}

.block.visible {
    opacity: 1;
    transform: translateY(0);
}

.block.hidden {
    opacity: 0;
    transform: translateY(-50px);
}

/* Заголовки и текст внутри блока */
.block h2 {
    transition: text-shadow 0.01s, opacity 0.1s;
    font-family: 'Rubik Vinyl', bold;
    font-size: 4vw;
    text-shadow: 0 0 10px #ccff00, 0 0 30px #ccff00, 0 0 35px #00ffb3;
}

.block p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6vw;
    line-height: 1.6;
    max-width: 60vw;
    margin: 0 auto;
}

/* Оптимизация для телефонов */
@media (orientation: portrait){
    .site-header{
        padding: 0px 0px;
        justify-content: flex-start;
    }
    .navbar{
      margin-left: 5vw;
    }
    .navbar a {
        padding: 5px 5px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 2vw;
    }

    .glowing {
        margin-right: 0%;
    }
    .block {
        width: 90%;
        padding: 0px;
    }

    .block h2 {
        font-size: 7vw;
    }

    .block p {
        font-size: 3.5vw;
        text-align: left;
    }
    .glowing img{
        width: 7vw;
        height: 7vw;
      }
}
@media (orientation: landscape) {
    .site-header{
        height: auto;
    }
    .navbar a{
        font-size: 1vw;
    }
    .block p{
        text-align: justify;
    }
    .glowing{
        font-size: 2vw;
    }
    .glowing img{
        width: 3vw;
        height: 3vw;
    }
}
@media (max-width: 495px) {
    .navbar ul {
        display: none; 
    }
    .block{
        margin-top: 100vh;
        top: 0px;
    }
    .glowing-txt img{
        width: 12vw;
        height: 12vw;
      }
}
